.startAnswer{
	background-image: url('../imgs/img_02.png'); /*背景图片地址*/
	background-repeat: no-repeat;  	   /*是否平铺,repeat-x横  repeat-y纵*/			
	background-position: left top;    /*left right top bottom center 像素*/
  background-size:cover;
}
/*答题计时页面背景*/
.questionBg{
  background-image: url('../imgs/answerBg.png'); /*背景图片地址*/
	background-repeat: no-repeat;  	   /*是否平铺,repeat-x横  repeat-y纵*/			
	background-position: left top;    /*left right top bottom center 像素*/
  background-size:100% 100%;
  width:100%;
  height:100%;
}
/*正确答案图标*/
.successIcon{
  position: absolute;
  right:-25px;
  top:-25px;
  width: 80px;
  height:80px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #7abd3b;
  transform: rotate(-45deg);
}
.successIcon::after{
  content: '';
  width: 50%;
  height: 25%;
  border-radius: 5px;
  transform: translate(-40%, -60%);
  border: 8px solid #fff;
  border-top: none;
  border-right: none;
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
}
/*错误答案图标*/
.errorIcon{
  position: absolute;
  right:-25px;
  top:-25px;
  width: 80px;
  height:80px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #fd2f2d;
  transform: rotate(-45deg);
}
.errorIcon::before{
  content: '';
  width: 85%;
  height: 10%;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background-color: #fff;
  border-radius: 5px;
}
.errorIcon::after{
  content: '';
  width: 10%;
  height: 85%;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background-color: #fff;
  border-radius: 5px;
}
.maskbg{
  background-color: rgba(0,0,0,.6);
}
@keyframes scale {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}
.scaleAnimate{
  animation: scale 0.8s ease 0s infinite alternate;
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.shake {
  animation: shake 0.8s ease 0s 1 alternate;
}

@keyframes scaleImg {
  from{ transform: scale(0); }
  to { transform: scale(1); }
}
.scaleError{
  animation: scaleImg 0.5s ease 0s 1 alternate;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInDown {
  animation: bounceInDown 0.8s ease 0s 1 alternate;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.flash {
  animation: flash 0.8s ease 0s 1 alternate;
}
